services:
  - type: web
    name: niseko-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn backend:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: niseko-db
          property: connectionString
databases:
  - name: niseko-db
    plan: free
